* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: black; */

}

@font-face {
    font-family: Heading;
    src: url(./Heading-Now-Variable.ttf);
}

@font-face {
    font-family: moranga;
    src: url(./fonts/moranga.ttf);
}


html,
body {
    width: 100%;
    height: 100%;
    /* perspective: 200px; */
    /* background-color: #07080D; */
    background-image: url(./images/stanislav-uC_z7qWZB5w-unsplash.jpg);
    /* background-size: cover; */
    perspective: 800px;

}

#cursor {
    font-size: 1vw;
    font-weight: 200;
    text-transform: uppercase;
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 50%;
    /* transform: scale(1); */
    transform: translate(-50%, -50%);
    /* z-index: 99; */
}


#loader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #111;
    color: white;
    z-index: 9999;
}

/* #green {
    display: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100%;
    width: 100%;
    z-index: 999;
    background-color: #14CF93;
} */

#loader #topheading {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

#loader h1 #surname {
    color: #008080;
    font-style: italic;
}



#topheading h5 {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    font-family: heading;

}

#loader h1 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    font-weight: 500;
    /* background-color: aqua; */
}

/* #loader h1 span {
    font-family: face;
    color: #14CF93;
} */

.reveal .parent {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    /* background-color: #14CF93; */

}

.reveal .parent .child {
    display: block;
    /* transform: translateY(-60%); */
}

.parent .child span {
    display: inline-block;
}

#main {
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    overflow: hidden;
    background-image: url(./images/brecht-corbeel-YCXdH_W_cLo-unsplash.jpg);
    background: fixed;
    background-size: cover;
    background-position: center;

}

#nav {
    padding: 10px 0px;
    font-family: sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    /* top: -150%; */
    height: 10vh;
    position: relative;
    background-color: #07080D;


    /* position: absolute; */
    /* background-color: salmon; */
}

#nav #logo img {
    width: 8vw;

}


/* #navRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6vw;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 0px;

} */

#nav img {
    /* margin-right: 15vw; */
    text-align: left;
}

.navmenu {
    padding: 10px 15px;
    position: relative;

}

.navmenu a {
    color: azure;
}

.navmenu a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 20%;
    height: 2px;
    width: 0%;
    margin: 0px 11px;
    transition: all ease 0.8s;
}

#nav .navmenu a:hover::before {
    width: 80%;
    background-color: white;
}

#nav .navmenu a.active {

    color: #008080;
    transition: all ease 0s;

}

#nav #navLeft a {
    text-decoration: none;
    font-weight: bold;
    font-size: larger;

}

#nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2vw;
    transition: all ease 0.6s;
    ;
}

#nav #resume {
    height: 40px;
    width: 190px;
    /* margin: 0 auto; */
    background: #008080;
    border-radius: 80px;
    font-size: 1.2vw;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 10px 0px 100px 5px  #00808096 ;
    align-items: center;

}

/* #nav #navRight a:hover {
    color: white;
} */




#home {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    background-image: url(./images/laurin-steffens-oNiZKx-BsBQ-unsplash.jpg);
    background-position: center;
    background-size: cover;
    color: aliceblue;
    font-family: moranga;

}

#home #overlay {
    width: 90vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    padding: 40px 30px;
    border-radius: 50px;
    /* background-color: rgba(128, 128, 128, 0.082); */
    backdrop-filter: blur(10px);
    margin: 0px 40px;
    color: aliceblue;
    background-color: transparent;
}


#homeLeft {
    width: 63%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* height: 80vh; */
    gap: 1.5vh;
    padding: 18px 20px;
    background-color: transparent;
    /* position: absolute; */
    color: aliceblue;
    font-weight: 550;
    /* padding-top: 10px; */
}

#homeLeft h3 {
    font-size: 3vw;
    color: aliceblue;

}



#homeLeft h4 {
    font-size: 4vw;
    color: aliceblue;
}



#homeLeft .underline {
    background: teal;
    margin: 2px 2px;
    padding: 0px 20px;
    /* border-radius: 20%; */
}


#homeRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 80%; */
    /* gap: 1vh; */
    width: 35%;
    height: 80vh;
    position: relative;
    color: aliceblue;
    /* z-index: 999; */
    /* left: 70%; */
}

#homeRight #profileImage {
    margin-bottom: 40px;
    width: 100%;
    height: 85vh;

}

#homeRight img {
    border-radius: 15%;
    object-position: center;
    width: 35vw;
    position: absolute;
    right: -7%;
}



#homeLeft h1 {
    font-size: 11vw;
    font-family: kajiro;
    color: aliceblue;
    letter-spacing: 9px;
    font-weight: 10;
    position: relative;

}

#homeLeft h1:hover {
    font-stretch: 50%;

}

#homeLeft h1::before {
    content: 'pralhad narkar';
    color: transparent;
    position: absolute;
    left: -5px;
    top: -5px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: aliceblue;
}

#homeLeft h2 {
    font-size: 40px;
    color: aliceblue;

}

#homeLeft h2 #sara {
    color: aliceblue;
}


#homeLeft p {
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 1px;
    color: aliceblue;

}

#moreaboutme {
    width: 100%;
    height: 90vh;
    font-family: moranga;
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    /* transition: all ease 0.3s; */
    padding: 8vw 20vw;
    text-align: center;

}

#aboutMe {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 4vw 18vw;
    line-height: 5vw;
}

#aboutMe h2 {
    font-family: moranga;
    font-size: 4vw;
    color: antiquewhite;
    text-align: center;
}

#aboutMe h2 span {
    text-decoration: underline;
}

#home2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 3vh;
    font-family: gilroy;

}

#home2 h1 {
    /* color: rgba(240, 248, 255, 0.26); */
    color: azure;
    font-family: moranga;
    text-transform: uppercase;
    font-size: 8vw;
    z-index: -1;
    mix-blend-mode: difference;
    /* transition: all ease 0.2s; */

}



#home2 #overlayhome {
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-color: #178989; */
}

#eduImageContainer {

    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6vh 0vh;
    position: relative;
    gap: 2.5vw;
}

#eduImageContainer .eduImage {
    width: 23vw;
    height: 27vw;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease 0.5s;
}


#eduImageContainer .eduImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    /* border-radius: 20px; */

}

.eduImage .eduoverlay {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    background-color: rebeccapurple;
    transition: all ease 0.5s;
    position: absolute;
}

.eduImage .eduoverlay h4 {
    font-size: 1.5vw;
    line-height: 1.5;
}


.eduImage:hover .eduoverlay {
    opacity: 1;

}

/* .eduImage:hover {
    transform: rotate(-3deg);

} */












#home4 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: gilroy;


}

#Projectsdetails {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;


}

#Projectsdetails h1 {
    text-align: center;
    /* color: rgba(240, 248, 255, 0.26); */
    color: azure;
    font-family: moranga;
    text-transform: uppercase;
    font-size: 8vw;
    text-align: center;
    /* background-color: #178989; */
    /* position: absolute; */
    /* top: 5%; */
    /* position: absolute; */
}

#Projectsdetails .projectImage .list h4 {
    font-size: 25px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: aliceblue;
    border-bottom: 2px solid white;

}

#Projectsdetails h3 {
    text-align: top;
    line-height: 2vw;
    color: white
}

#Projectsdetails #projects {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    /* position: absolute; */
    /* top: 40% */
    /* background-color: #178989; */
    perspective: 300px;
}

#Projectsdetails #projects #project1 {
    width: 25vw;
    height: 20vw;
    /* margin: 0px 40px; */
    background-image: url(./images/Plexigo.png);
    background-size: cover;
    background-position: bottom;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transform: rotateY(20deg);

}


#Projectsdetails #projects #project2 {
    width: 25vw;
    height: 20vw;
    /* margin: 0px 40px; */
    background-image: url(./images/Foodo.png);
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transform: rotateY(-20deg);




}

#projects #project1 #projectoverlay1 {
    width: 100%;
    height: 0%;
    top: -15%;
    background-color: rgba(0, 0, 0, 0.712);
    position: absolute;
    transition: all ease-in-out 0.7s;
    display: flex;
    align-items: flex-end;
    padding-bottom: 35px;
    justify-content: space-evenly;
    border-bottom: 10px solid #178989;
    border-radius: 20px;


}

#projects #project2 #projectoverlay2 {
    width: 100%;
    height: 0%;
    top: -15%;
    background-color: rgba(0, 0, 0, 0.712);
    position: absolute;
    transition: all ease-in-out 0.7s;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-bottom: 35px;
    border-bottom: 10px solid #178989;
    border-radius: 20px;
}

#projects #project1:hover #projectoverlay1 {
    height: 116%;
}

#projects #project2:hover #projectoverlay2 {
    height: 116%;
}

#home5 {
    width: 100%;
    height: 110vh;
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    flex-direction: column;
    /* margin-top: 40px; */
    /* background-color: rgba(255, 255, 255, 0.664); */
    /* background-color: white; */
    /* transition: all ease 0.5s; */


}



#Experiance {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    width: 100%;
    height: 10vw;
    overflow: hidden;
    /* font-weight: lighter; */

}

#Experiance h1 {
    font-size: 8vw;
    /* font-weight: 800px; */
    text-transform: uppercase;
    /* color: rgba(0, 0, 0, 0.712); */
    /* color: transparent; */
    font-family: moranga;
    color: azure;

}

#exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#exp h2 {
    font-size: 2vw;
    font-family: gilroy;
    /* color: rgba(0, 0, 0, 0.664); */
    color: antiquewhite;
}

#Responsibility ul {
    font-size: 1.5vw;
    font-family: gilroy;
    /* color: rgba(0, 0, 0, 0.664); */
    color: white;

}

#exp_Detail {
    display: flex;
    width: 100%;
    height: 80vh;
    padding: 4vw 6vw;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-evenly; */
    /* background-color:gray; */

}

#exp_Detail #Responsibility {
    width: 40vw;
    height: 35vw;
    margin: 10px;
    padding-left: 30px;
    padding-top: 20px;
    line-height: 30px;
    /* font-family: sans-serif; */
    border-radius: 20px;
    /* background-color: #178989 */
    /* box-shadow: 1px 1px 8px 1px #888888; */
    ;
}

#exp_Detail #expImage {
    width: 40vw;
    height: 24vw;
    background-image: url(./images/laptop-g9d741e0bc_1920.jpg);
    background-position: center;
    background-size: cover;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 8px 1px #888888;

}

#home3 {
    width: 100%;
    min-height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: gilroy;

    /* background-image: url(./images/nasa-jlV2k_Fx0fc-unsplash.jpg); */


}

#home3 #overlayhome3 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
}

#home3 #cursorImage {
    width: 10vw;
    height: 10vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    scale: 0;
    opacity: 0;

}

#home3 #cursorImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    z-index: -10;

}




#home3 h1 {

    /* color: rgba(240, 248, 255, 0.26); */
    color: azure;
    text-transform: uppercase;
    font-size: 8vw;
    mix-blend-mode: difference;
    font-family: moranga;
    /* z-index: 9999999; */

}




#frontend .icons1 img {
    height: 8vw;
    transition: all ease 0.4s;
    background-color: #88888877;
    border-radius: 50%;
    margin: 0vw 1vw;
}

#frontend .icons1 {
    animation-name: scroll;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    padding-top: 30px;
    width: 96%;

    /* overflow:hidden; */

}


#frontend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 40vh;
    white-space: nowrap;
    overflow-x: hidden;

}

#frontend-heading {
    width: 30%;
    height: 2vw;
    /* background-color: #888888; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

#home3 .heading h3 {
    font-size: 2.5vw;
    color: aliceblue;
}


#frontend .icons1 :hover {
    scale: 1.2;
}

#frontend::-webkit-scrollbar {
    display: none;
}

#backend-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #backend-heading h3 {
    font-size: 2.5vw;
    color: aliceblue;
} */

#backend .icons2 {
    /* display: inline-block; */
    animation-name: scroll2;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    padding-top: 30px;
    /* background-color: #888888; */



}

#backend .icons2 img {
    height: 150px;
    transition: all ease 0.4s
}

#backend .icons2 :hover {
    scale: 1.2;
}

#backend {
    width: 80%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 20px;
    transition: all ease 0.6s;
    /* background-color: #888888; */
}

#backend::-webkit-scrollbar {
    display: none;
}


#contact {
    width: 100%;
    min-height: 100vh;
    color: aliceblue;
    padding: 1.2vw 6vw;
    text-align: center;
    line-height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#contact h2 {
    font-family: moranga;
    font-size: 8vw;
}

#contact h3 {
    font-family: moranga;
    font-size: 4vw;
}

#contact h4 {
    font-family: moranga;
    font-size: 1.2vw;
    padding: 0;
}

@media (max-width:600px) {
    #nav {
        padding: 10px 0px;
        height: 8vh;
        justify-content: center;
        gap: 1.5px
    }

    #nav #logo img {
        width: 10vw;
        padding: 0px 1px;
        display: none;

    }

    .navmenu {
        padding: 10px 8px;
        position: relative;
    }

    #nav a {
        font-size: 2.2vw;
        ;
    }

    #nav #resume {
        width: 70px;
        height: 30px;
        font-size: 2.2vw;
        background: #008080;
        box-shadow: 00px 20px 100px 10px  #008080da ;

    }

    #home {
        height: 75vh;
        margin: 8vw 0vw
    }

    #homeLeft {
        width: 100%;
        gap: 0.5vh;
        padding: 0px 2px;
        margin: 0px;
        padding-top: 0px;
        /* background-color: #178989; */
    }

    #home #overlay {
        width: 95vw;
        padding: 8vw 5vw;
        background-color: transparent;
        height: 85vh;
    }

    #homeLeft h3 {
        font-size: 6vw;
        color: aliceblue;

    }

    #homeLeft h4 {
        font-size: 6vw;
        color: aliceblue;
    }

    #homeLeft .underline {
        background: teal;
        margin: 2px 2px;
        padding: 0px 20px;
        /* border-radius: 20%; */
    }

    #homeRight {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 10%;
        height: 70vh;


    }

    #homeRight #profileImage {
        margin-bottom: 10px;
        width: 100%;
        height: 85vh;

    }

    #homeRight img {
        border-radius: 15%;
        object-position: center;
        width: 40vw;
        position: absolute;
        right: -70%;
        top: 3%;
        border-radius: 50%;


    }



    #homeLeft h1 {
        font-size: 18vw;
        font-family: kajiro;
        /* color: aliceblue; */
        color: white;
        letter-spacing: 5px;
        font-weight: 10;
        position: relative;
        z-index: 9;
        /* -webkit-text-stroke: #07080D 0.2px; */

    }


    #homeLeft h1::before {
        content: 'pralhad narkar';
        color: transparent;
        position: absolute;
        left: -5px;
        top: -5px;
        -webkit-text-stroke-width: 1px;
        /* -webkit-text-stroke-color: aliceblue; */
        -webkit-text-stroke-color: white;
    }

    #homeLeft h2 {
        font-size: 40px;
        color: aliceblue;

    }

    #homeLeft h2 #sara {
        color: aliceblue;
    }


    #homeLeft p {
        font-size: 17px;
        line-height: 25px;
        letter-spacing: 1px;
        color: aliceblue;

    }

    #moreaboutme {
        width: 100%;
        height: 100vh;
        font-family: moranga;
        font-size: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        color: antiquewhite;
        transition: all ease 0.3s;
        padding: 3vw 20vw;
        text-align: center;
        /* background-color: gray; */

    }

    #aboutMe {
        width: 100%;
        min-height: 130vh;
        display: block;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 4vw 8vw;
        /* background: gray; */

    }

    #aboutMe h2 {
        font-family: moranga;
        font-size: 5vw;
        color: antiquewhite;
        text-align: center;
        line-height: 50px;
    }

    #aboutMe h2 span {
        text-decoration: underline;
    }

    #home2 {
        height: 70vh;
        margin-bottom: 0vh;
        /* background-color:#178989; */

    }

    #home2 h1 {
        /* color: rgba(240, 248, 255, 0.26); */
        color: azure;
        font-family: moranga;
        text-transform: uppercase;
        font-size: 10vw;
        /* z-index: -1; */
        mix-blend-mode: difference;
        /* transition: all ease 0.2s; */

    }



    #home2 #overlayhome {
        width: 100%;
        height: 100%;
        position: absolute;
        /* background-color: #178989; */
    }

    #eduImageContainer {

        width: 100%;
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0vh 0vh;
        position: relative;
        gap: 2.5vw;

    }

    #eduImageContainer .eduImage {
        width: 30vw;
        height: 40vw;

    }


    .eduImage .eduoverlay h4 {
        font-size: 3vw;
        line-height: 1.8;
    }

    #home4 {
        width: 100%;
        min-height: 80vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        font-family: gilroy;
        /* background: gray; */


    }

    #Projectsdetails {
        display: flex;
        width: 100%;
        height: 60vh;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: relative;


    }

    #Projectsdetails h1 {
        text-align: center;
        /* color: rgba(240, 248, 255, 0.26); */
        color: azure;
        font-family: moranga;
        text-transform: uppercase;
        font-size: 10vw;
        text-align: center;
        /* background-color: #178989; */
        /* position: absolute; */
        /* top: 5%; */
        /* position: absolute; */
    }

    #Projectsdetails .projectImage .list h4 {
        font-size: 16px;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: white;
        font-weight: 100;
        border-bottom: 2px solid white;

    }

    #Projectsdetails h3 {
        text-align: top;
        line-height: 4vw;
        color: white;
        font-size: 14px;
    }

    #Projectsdetails #projects {
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4vw;
        /* position: absolute; */
        /* top: 40% */
        /* background-color: #178989; */
        perspective: 300px;
    }

    #Projectsdetails #projects #project1 {
        width: 40vw;
        height: 45vw;
        /* margin: 0px 40px; */
        background-image: url(./images/Plexigo.png);
        background-size: cover;
        background-position: bottom;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        transform: rotateY(20deg);

    }


    #Projectsdetails #projects #project2 {
        width: 40vw;
        height: 45vw;
        /* margin: 0px 40px; */
        background-image: url(./images/Foodo.png);
        background-size: cover;
        background-position: bottom;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        transform: rotateY(-20deg);




    }

    #projects #project1 #projectoverlay1 {
        width: 100%;
        height: 0%;
        top: -15%;
        background-color: rgba(0, 0, 0, 0.712);
        position: absolute;
        transition: all ease-in-out 0.7s;
        display: flex;
        align-items: flex-end;
        padding-bottom: 35px;
        justify-content: space-evenly;
        border-bottom: 10px solid #178989;
        border-radius: 20px;


    }

    #projects #project2 #projectoverlay2 {
        width: 100%;
        height: 0%;
        top: -15%;
        background-color: rgba(0, 0, 0, 0.712);
        position: absolute;
        transition: all ease-in-out 0.7s;
        display: flex;
        align-items: end;
        justify-content: space-evenly;
        padding-bottom: 35px;
        border-bottom: 10px solid #178989;
        border-radius: 20px;
        padding: 0px 8px;
    }

    #projects #project1:hover #projectoverlay1 {
        height: 116%;
    }

    #projects #project2:hover #projectoverlay2 {
        height: 116%;
    }

    #home3 {
        width: 100%;
        min-height: 100vh;

    }


    /* #home3 #cursorImage {
        width: 10vw;
        height: 10vw;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        scale: 0;
        opacity: 0;
    
    } */





    #frontend .icons1 img {
        height: 15vw;
        margin: 0vw 0.5vw;
    }


    #frontend {
        width: 90%;
        height: 35vh;


    }

    #frontend-heading {
        width: 30%;
        height: 2vw;

    }

    #home3 .heading h3 {
        font-size: 5vw;
        color: aliceblue;
    }


    #frontend .icons1 :hover {
        scale: 1.2;
    }

    #frontend::-webkit-scrollbar {
        display: none;
    }





    #backend .icons2 {
        /* display: inline-block; */
        animation-name: scroll2;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: reverse;
        padding-top: 10px;
        /* background-color: #888888; */



    }

    #backend .icons2 img {
        height: 80px;
        transition: all ease 0.4s
    }

    #backend .icons2 :hover {
        scale: 1.2;
    }

    #backend {
        width: 90%;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        margin-bottom: 20px;
        transition: all ease 0.6s;
        /* background-color: #888888; */
    }

    #home5 {
        width: 100%;
        height: 200vh;
        position: relative;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        flex-direction: column;
        /* margin-top: 40px; */
        /* background-color: rgba(255, 255, 255, 0.664); */
        /* background-color: white; */
        /* transition: all ease 0.5s; */


    }



    #Experiance {
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: 0px 2px; */
        width: 100%;
        height: 15vw;
        overflow: hidden;
        /* font-weight: lighter; */

    }

    #Experiance h1 {
        font-size: 8vw;
        /* font-weight: 800px; */
        text-transform: uppercase;
        /* color: rgba(0, 0, 0, 0.712); */
        /* color: transparent; */
        font-family: moranga;
        color: azure;

    }

    #exp {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px 10px;
        height: 25vw;

    }

    #exp h2 {
        font-size: 4vw;
        font-family: gilroy;
        text-align: center;
        /* color: rgba(0, 0, 0, 0.664); */
        color: antiquewhite;
    }

    #Responsibility ul {
        font-size: 4vw;
        font-family: gilroy;
        /* color: rgba(0, 0, 0, 0.664); */
        color: white;

    }

    #exp_Detail {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 250vh;
        align-items: flex-end;
        justify-content: flex-end;
        /* background-color:cadetblue; */
        /* border-top-right-radius: 20px; */

    }

    #exp_Detail #Responsibility {
        width: 80vw;
        height: 100vw;
        /* margin: 10px; */
        padding-left: 10px;
        padding-top: 20px;
        line-height: 30px;
        /* font-family: sans-serif; */
        /* background-color: #178989 */
        /* box-shadow: 1px 1px 8px 1px #888888; */
        ;
    }

    #exp_Detail #expImage {
        width: 78vw;
        height: 50vw;
        background-image: url(./images/laptop-g9d741e0bc_1920.jpg);
        background-position: center;
        background-size: cover;
        margin: 0px;
        /* border-top-right-radius: 20px; */
        box-shadow: 1px 1px 8px 1px #888888;

    }

    #exp_Detail #expLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

}

#contact {
    width: 100%;
    height: 100vh;
    color: aliceblue;
    padding: 1.2vw 8vw;
    text-align: center;
    line-height: 7.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#contact h2 {
    font-family: moranga;
    font-size: 8vw;
}

#contact h3 {
    font-family: moranga;
    font-size: 4vw;
}

#contact h4 {
    font-family: moranga;
    font-size: 1.2vw;
    padding: 0;
}




@keyframes scroll {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-100%);
    }
}

@keyframes scroll2 {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-100%);
    }
}